:root {
    --background-color: #fff;
    --text-color: #000;
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;

  }
 
body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  [data-theme="dark"] {
    --background-color: #3F3F3F;
    --card-color-dark:#272727;
    --text-color: #fff;
    --dark-blue: #ffffff;
    
  }

  [data-theme="light"] {
    --background-color: #e6e6e6;
    --card-color-dark:#ffffff;
    --text-color: rgb(71, 71, 71);
    --dark-blue: #363f5f;
    
  }